<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @feed.message %>
</p>

<p>
  <b>User:</b>
  <%= @feed.user_id %>
</p>

<p>
  <b>Store:</b>
  <%= @feed.store_id %>
</p>

<p>
  <b>Feed for:</b>
  <%= @feed.feed_for %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
