<div class="feeds">
  <div id="first-stream"></div>
  <div class="streaming-div w100 bdr-bot">
  </div>
  <% @feeds.each do |feed| %>
      <div class='streaming-div w100 bdr-bot'>
        <div class='w100 mtop20' style='padding-left:10px;'>
          <div class='post-left-hold'>
            <% unless feed.user.profile_image.nil? %>
                <%= image_tag(feed.user.profile_image.snap, :height => "92px", :width => "103px") %>
            <% else %>
                <img src="/assets/no-image.jpg" height="92px" width="103px" alt=""/>
            <% end %>
          </div>
          <% admin_role = Role.find(:first, :conditions => ["name = ?", "Admin"]) %>
          <div class='post-cont-hold'>
            <% if feed.user.roles.include?(admin_role) %>
                <h1><a href="<%= root_url(:subdomain => feed.user.store.name) %>"><%= feed.user.name ? feed.user.name : "User" %></a></h1>
            <% else %>
                <h1><%= feed.user.name ? feed.user.name : "User" %></h1>
            <% end %>

            <p><%= feed.message %></p>

            <div class='like-hold'></div>
            <div class="like-hold">
              <% if current_user.id == feed.user_id %>
                  <a class="removeClass" href="javascript:;" feed_id="<%= feed.id %>">Remove</a> -
              <% end %>
              <%= duration(Time.now - feed.created_at) %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>