<div class="wrapper">
<div class="w100 mtop40 trial-heading bdr-bot">
  <h1>Start your FREE trial today!</h1>

  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
</div>

<div class="w100 mtop40 bdr-bot pb40">
  <div class="price-details-top-holder flt">
    <div class="price-start-up-heading flt">
      <h1>Start up</h1>

      <h2>FREE</h2>
    </div>
    <div class="price-time-heading flt">
      <h1>Time to grow</h1>

      <div class="w100">
        <div class="doller-icon flt">$</div>
        <div class="price-icon flt">10</div>
        <div class="month-icon flt">/mo</div>
      </div>
    </div>
    <div class="price-corporation-heading flt">
      <h1>Corporation</h1>

      <div class="w100">
        <div class="doller-icon flt">$</div>
        <div class="price-icon flt">20</div>
        <div class="month-icon flt">/mo</div>
      </div>
    </div>
    <div class="price-enterprise-heading flt">
      <h1>Enterprise</h1>

      <div class="w100">
        <div class="doller-icon flt">$</div>
        <div class="price-icon flt">175</div>
        <div class="month-icon flt">/mo</div>
      </div>
    </div>
  </div>
  <div class="price-details-mid-holder flt">

    <div class="w100">
      <% @allowed_products.each do |p| %>
          <div class="price-enterprise flt"><%= p.value %> products</div>
      <% end %>
    </div>
    <div class="w100">
      <% @allowed_staff_members.each do |p| %>
          <div class="price-enterprise flt white-bg"><%= p.value %> Members</div>
      <% end %>
    </div>

    <div class="w100">
      <% @allowed_images.each do |p| %>
          <div class="price-enterprise flt"><%= p.value %> Images</div>
      <% end %>
    </div>
    <div class="w100">
      <% @chat.each do |p| %>
          <div class="price-enterprise flt white-bg"><%= p.value=='yes' ? 'Chat' : '--' %></div>
      <% end %>
    </div>

    <div class="w100">
      <% @inventory_tracking.each do |p| %>
          <div class="price-enterprise flt"><%= p.value=='yes' ? 'Inventory Tracking' : '--' %></div>
      <% end %>
    </div>

    <div class="w100">
      <% @discount_count.each do |p| %>
          <div class="price-enterprise flt white-bg"><%= p.value=='yes'? 'Discount Count' : '--' %></div>
      <% end %>
    </div>

    <div class="w100">
      <div class="price-start-up flt "><a href="/users/sign_up?package=1"><img src="/assets/join-now.png" alt=""></a>
      </div>
      <div class="price-time flt "><a href="/users/sign_up?package=2"><img src="/assets/join-now.png" alt=""></a></div>
      <div class="price-corporation flt"><a href="/users/sign_up?package=3"><img src="/assets/join-now.png" alt=""></a>
      </div>
      <div class="price-enterprise flt"><a href="/users/sign_up?package=4"><img src="/assets/join-now.png" alt=""></a>
      </div>
    </div>


  </div>
  <div class="price-details-bot-holder flt"></div>
</div>

<div class="blue-box flt mtop40">
  <div class="blue-top-bg flt"></div>
  <div class="blue-mid-bg flt">
    <h1>Questions</h1>

    <div class="questions-holder mtop10 flt">
      <div class="questions-top flt"></div>
      <div class="questions-mid flt">
        <div class="cquestions-left flt">
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
          <div class="w100">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
        </div>
        <div class="cquestions-right flt">
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>
          <div class="w100 bdr-bot">
            <div class="w100">
              <div class="q-heading flt">Q</div>
              <div class="q-text flt">Is there a setup fee?</div>
            </div>
            <div class="w100">
              <div class="q-heading flt">A</div>
              <div class="a-text flt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies dui
                sit amet diam luctus bibendum.
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="questions-bot flt">
        <label>For more questions check out our support section or contact us.</label>
        <img src="/assets/contact-us.png" alt="">
      </div>
    </div>

  </div>
  <div class="blue-bot-bg flt"></div>
</div>


</div>