<div class="wrapper body-div">
  <%= render :partial => "/shared/store_header" %>
  <div class="w100 mtop60 pbotton20">
    <div class="left-warrpper">
      <div class="w100">
        <div class="nav-top-holder">Our products</div>
        <div class="nav-mid-holder">
          <ul class="left-nav">
            <li class="prod-img"><a href="#" url="<%= "store" %>">Recent Products</a></li>
            <% @store.products.each do |product| %>
                <li class="prod-img <%= 'active' if params[:id]== product.id.to_s %>"><%= link_to product.name, "#", :url => "/products/"+product.id.to_s %></li>
            <% end %>
          </ul>
        </div>
        <div class="nav-bot-holder"></div>
      </div>


      <div class="w100 mtop40">
        <div class="nav-top-holder">Company</div>
        <div class="nav-mid-holder">
          <ul class="left-nav">
            <%= render :partial => 'shared/right_company_pages' %>
          </ul>

        </div>
        <div class="nav-bot-holder"></div>
      </div>


    </div>
    <div class="right-warrpper">
      <div class="featured-heading w100"><%= @page.name.capitalize %></div>
      <div class="w100 mtop40">
        <%= raw @page.html %>
      </div>
    </div>
  </div>

</div>

