<div class="body">
  <div class="wrapper">
    <%= render :partial => "/shared/store_header" %>
    <p id="notice"><%= notice %></p>
    <div class="w100 mtop60">
    <div class="cart_title">Your Cart</div>
    <div style="margin: 0 auto;width: 800px;">
      <table border="1" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th>Product Name</th>
          <th>Product Color</th>
          <th>Product Size</th>
          <th>Product Price</th>
          <th>Action</th>
        </tr>
        <% @cart.line_items.each do |item| %>
            <tr>
              <td><%= item.product_detail.product.name %></td>
              <td><%= item.product_detail.color %></td>
              <td><%= item.product_detail.size %></td>
              <td class="item_price"><%= number_to_currency(item.total_price) %></td>
              <td><div class="submitInrBtn2"><%= link_to 'Remove from cart', '/line_items/destroy/'+item.id.to_s+'?cart_id='+@cart.id.to_s, :confirm => 'Are you sure?', :method => :delete %></div></td>
            </tr>
        <% end %>
        <tr class="total_line">
          <td colspan="3"><b>Total</b></td>
          <td class="total_cell"><b><%= number_to_currency(@cart.total_price) %></b></td>
        </tr>
      </table>
    </div>
    </div>
    <%= link_to image_tag('/assets/empty-cart.png'), '/carts/destroy/'+@cart.id.to_s, :confirm => 'Are you sure?', :method => :delete %>
    <br/>
    <%= link_to image_tag('/assets/back.png'), root_url() %>
    <div class="blueInrBtn"><%= link_to "Checkout", new_order_path%></div>
  </div>
</div>