<% admin_role = Role.find(:first, :conditions => ["name = ?", "Admin"]) %>
<% super_admin_role = Role.find(:first, :conditions => ["name = ?", "SuperAdmin"]) %>
<div class="rightContainer">
  <div class="rightHeading1">
    <div class="rgtHeading1">MANAGE Users</div>
    <%#*<div class="submitInrBtn1"><%= link_to 'New Product', new_admin_product_path %>
  </div>
  <div class="mngMain mtop20">
    <!--<div class="label">SEARCH MEMBER :</div>-->
    <!--&lt;!&ndash;<div class="inputText"><input type="text" value=""/></div>&ndash;&gt;-->
    <!--<div class="mediaBtn1">-->
    <!--<input type="submit" value="Search" class="smallBtn"/>-->
    <!--</div>-->
    <% unless current_user && current_user.admin? %>
        <% if @allowed_staff_members[0][:value].to_i > @current_store_users %>
            <div class="submitInrBtn1"><%= link_to "New Member", '/admin/users/new/' %></div>
        <% end %>
    <% end %>
  </div>

  <div class="mngData mtop20">
    <div class="fMngHeading"><strong>EMAIL</strong></div>
    <div class="sMngHeading"><strong>NAME</strong></div>
    <div class="tMngHeading"><strong>STORE</strong></div>
    <div class="foMngHeading"><strong>ACTION</strong></div>
  </div>

  <div class="mngData">
    <% unless @users.nil? %>
        <% @users.each_with_index do |user, index| %>
            <% if user.email != "sadmin@peddle.com" %>
                <div class="fMngHeading1"><%= user.email %></div>
                <div class="sMngHeading1">--</div>
                <% unless user.store.blank? %>
                    <div class="tMngHeading1"><%= user.store.name %> </div>
                <% else %>
                    <div class="tMngHeading1">none</div>
                <% end %>
                <div class="foMngHeading1">
                  <div class="mediaBtn2">
                    <% unless user.roles.include?(super_admin_role) %>
                        <% unless index == 0 %>
                            <%= link_to "Delete", '/admin/users/destroy/'+user.id.to_s, :confirm => 'Are you sure?', :method => :delete, :class => "smallBtn" %>
                            <%#= link_to "Edit", '/admin/users/edit/'+user.id.to_s, :class => "smallBtn" %>
                        <% else %>
                            <input type="submit" value="Delete" class="smallBtn"/>
                        <% end %>
                    <% else %>
                        <% unless user.roles.include?(admin_role) %>
                            <% unless index == 0 %>
                                <%= link_to "Delete", '/admin/users/destroy/'+user.id.to_s, :confirm => 'Are you sure?', :method => :delete, :class => "smallBtn" %>
                                <%#= link_to "Edit", '/admin/users/edit/'+user.id.to_s, :class => "smallBtn" %>
                            <% else %>
                                <input type="submit" value="Delete" class="smallBtn"/>
                            <% end %>
                        <% else %>
                            <input type="button" value="--" class="smallBtn"/>
                        <% end %>
                        <!--<input type="button" value="--" class="smallBtn"/>-->
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>

  
