<div class="rightContainer">
  <div class="rightHeading1">
    <div class="rgtHeading1">MANAGE PRODUCT DETAILS</div>
    <div class="submitInrBtn1"><%= link_to 'New Product Detail', '/admin/product_details/new?id='+@product.id.to_s %></div>
  </div>
  <div class="mngMain mtop20">
    <div class="label">SEARCH MEMBER :</div>
    <div class="inputText"><input type="text" value=""/></div>
    <div class="mediaBtn1">
      <input type="submit" value="Search" class="smallBtn"/>
    </div>
  </div>

  <div class="mngData mtop20">
    <div class="fMngHeading"><strong>Size</div>
    <div class="sMngHeading">Color</div>
    <div class="tMngHeading">Price</div>
    <div class="foMngHeading">Action</div>
  </div>

  <div class="mngData mtop20">
    <% unless @product_details.nil? %>
        <% @product_details.each_with_index do |product_detail, index| %>
            <div class="fMngHeading1"><strong><%= product_detail.size %></strong></div>
            <div class="sMngHeading1"><strong><%= product_detail.color %></strong></div>
            <div class="tMngHeading1"><strong><%= product_detail.price %></strong></div>
            <div class="foMngHeading1"><strong>
              <%= link_to image_tag("../assets/edit.png"), edit_admin_product_detail_path(product_detail) %>
              <%= link_to image_tag("../assets/delete.png"), '/admin/product_details/destroy/'+product_detail.id.to_s, :confirm => 'Are you sure?', :method => :delete %>
            </strong></div>
        <% end %>
    <% end %>

  </div>


</div>



