<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<script>
    $(document).ready(function() {
        //$('#colorpickerField').ColorPicker({flat: true});
        $('#colorpickerField').ColorPicker({
            onSubmit: function(hsb, hex, rgb, el) {
                $(el).val(hex);
                $(el).ColorPickerHide();
            },
            onBeforeShow: function () {
                $(this).ColorPickerSetColor(this.value);
            }
        }).bind('keyup', function() {
                    $(this).ColorPickerSetColor(this.value);
                });
    });
</script>
<%= form_for([:admin, @product_detail], :html => {:multipart => true, :id => 'product_deatils_add_form'}) do |f| %>
    <% if @product_detail.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product_detail.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @product_detail.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="rightContainer">
      <div class="rightHeading1">
        <div class="rgtHeading">ADD NEW Product Detail</div>
      </div>
      <div class="adminInrLogin">
        <div class="adminInrText mtop20">Size</div>
        <div class="adminInrInput"><%= f.select(:size, [['S', 'S'], ['M', 'M'], ['L', 'L'], ['XL', 'XL'], ['XXL', 'XXL']], {:include_blank => true}) %></div>
      </div>
      <div class="adminInrInput">
        <div class="adminInrText mtop20">Color</div>
        <%= f.text_field :color, :id => "colorpickerField1" %>
      </div>
      <div class="adminInrInput">
        <div class="adminInrText mtop20">Price</div>
        <%= f.text_field :price %>
      </div>
      <div class="adminInrInput">
        <div class="adminInrText mtop20">Product Quantity</div>
        <%= f.text_field :product_quantity %>
      </div>

      <%= f.hidden_field :product_id, :value => @product_id, :readonly => true %>
      <div id="photos" style="float: left;
              margin-top: 20px;
              width: 94%;">
        <%= f.label :snap, 'Attachment' %>
        <br/>
        <%= f.fields_for :images do |builder| %>
            <%= render "image", :image => builder %>
        <% end %>

      </div>

      <div class="submitInrBtn3" id="product_detail_add_btn"><input type="submit" value="Save all Changes"/></div>

    </div>

<% end %>

<script type="text/javascript">

    $("#product_detail_add_btn").click(function() {
        $("#product_deatils_add_form").submit(function() {
            if (!$("#product_deatils_add_form").valid()) {
                return false;
            } else {
                // alert("ddd");
                return true;
            }
        });
    });

    $(document).ready(function() {

        $("#product_deatils_add_form").validate({
            rules:{
                "product_detail[size]":
                {
                    required: true
//          number: true
                },
                "product_detail[color]":
                {
                    required: true
//          number: true
                },
                "product_detail[price]":
                {
                    required: true,
                    number: true
                },
                messages: {
                    "product[size]": "This field is required",
                    "product[color]": "This field is required",
                    "product[price]": "This field is required"
                }
            }
        });
    });

</script>



