<div class="bodyholder">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div>
      <div class="img_div">
        <%= image_tag(@product.images.first.snap, :width => "150", :height => "120") %>
      </div>
      <div class="description">
        <p>
          <b>Name:</b>
          <%= @product.name %>
        </p>

        <p>
          <b>Description:</b>
          <%= @product.description %>
        </p>
      </div>
    </div>
    <br/>
    <% unless @product.product_details.empty? %>
        <% @product.product_details.each do |product_detail| %>
            <div class="details_div">
              Size:<%= product_detail.size %>
              <br/>
              Color:<%= product_detail.color %>
              <br/>
              Price:<%= product_detail.price %>
              <br/>
              <%= link_to "Checkout", "#" %>
            </div>
        <% end %>
    <% end %>
<%#= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back to Store', '/' %>
  </div>
</div>