<html>
  <head>
    <title>PEDDLE-online</title>
    <%= stylesheet_link_tag "admin", "stores.css.scss"%>
    <%= javascript_include_tag "jquery-1.6.3.min", "jquery.form", "jquery.validate"%>   
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="mainContainer"></div>
    <div class="mainholder">
      <div class="center">
        <%= render :partial => "/shared/header" %>
      </div>
      <div class="center">
        <%= render :partial => "/shared/admin_left_pannel" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>