<html>
  <head>
    <title>PEDDLE-online</title>
    <%= stylesheet_link_tag "admin", "stores.css.scss", "colorpicker"%>
    <%= javascript_include_tag "jquery-1.6.3", "jquery.form", "jquery.validate"%>
    <%= javascript_include_tag "jquery-1.6.3",'colorpicker', 'eye', 'layout', 'utils' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="mainContainer"></div>
    <div class="mainholder">
      <div class="center">
        <%= render :partial => "/shared/header" %>
      </div>
      <div class="center">
        <% admin_role = Role.find(:first, :conditions => ["name = ?", "Admin"])%>
        <%if current_user.roles.include?(admin_role)%>
            <%= render :partial => "/shared/admin_left_pannel" %>
        <%else%>
            <%= render :partial => "/shared/sys_admin_left_pannel" %>
        <%end%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>