<!DOCTYPE html>
<html>
<head>
  <title>PEDDLE-online</title>  
  <%= stylesheet_link_tag "application", "stores.css.scss", "Aristo", "jquery.ad-gallery" %>
  <%= javascript_include_tag "application", "jquery.ad-gallery", "jquery-ui.min"%>
  <%= javascript_include_tag "jquery-1.6.3.min", "jquery.form", "jquery.validate"%>   
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">

  <div class="container">
    <div class="logo">
      <%url = root_url(:subdomain => false)
        if request.subdomain != ""
          new_url = request.subdomain+'.'
             url = url.sub(new_url,'')
        end%>
      <%= link_to image_tag("/assets/logo.png"),url  %>
    </div>

    <div class="topNav">
      <ul>
        <li>          
          <%=link_to "Sales Floor", "/home/index"%>
        </li>

        <li>
          <a href="#">Shopping Mall </a>
        </li>

        <li>
          <a href="#">Inbox </a>
        </li>
        <li>
          <% if current_user %>
            <%= link_to "My Account", "/admin/store_admin" %>
          <%end%>
        </li>
        <li>
          <% if current_user %>
              <%#= current_user.email %>
            <%#*root_url(:subdomain => false)%>
              <%= link_to "Logout", "/sign_out" %>              
          <% else %>
              <%= link_to "Login", "/sign_in" %>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="searchfield">
      <input type="text"></input>
      <input type="button"></input>
    </div>


  </div>


</div>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>
  
</body>
</html>
