<!DOCTYPE html>
<html>
<head>
  <title>PEDDLE-online</title>  
  <%= stylesheet_link_tag "application", "store", "Aristo", "jquery.ad-gallery" %>
  <%= javascript_include_tag "application", "jquery.ad-gallery", "jquery-ui.min"%>
  <%= javascript_include_tag "jquery-1.6.3.min", "jquery.form", "jquery.validate"%>   
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">

  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.png">
      </a>
    </div>

    <div class="topNav">
      <ul>
        <li>          
          <%=link_to "Sales Floor", "/home/index"%>
        </li>

        <li>
          <a href="#">Shopping Mall </a>
        </li>

        <li>
          <a href="#">Inbox </a>
        </li>

        <li>
          <a href="#">Settings </a>
        </li>

        <li>
          <% if current_user %>
              <%#= current_user.email %>
            <%#*root_url(:subdomain => false)%>

              <%= link_to "Logout", "/sign_out" %>
          <% else %>
              <%= link_to "Login", "/sign_in" %>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="searchfield">
      <input type="text"></input>
      <input type="button"></input>
    </div>


  </div>


</div>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>
 <% if current_user %>
<div class="bodyholder">
  <div class="container">
    <h3>
      Welcome
    </h3>
    <%= link_to("Manage Products", '/admin/products') %>
      </div>
</div>

 <%end%>

<%= yield %>
  
</body>
</html>
