<%= javascript_include_tag "jquery.form" %>
<div class="bodyholder body-div">
  <% buyer_role = Role.find(:first, :conditions => ["name = ?", "Buyer"]) %>
  <div class="container">
    <% if @request_type == "ajax" %>
        <div class="wrapper">
          <div class="white-bg">
    <% end %>
    <div class="left-content flt">
      <div class="signin_holder">
        <div class="top_login_bg"></div>
        <div class="mid_login_bg">
          <!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
          <div class="signin_heading">Edit Your Profile</div>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :onsubmit => @request_type=="ajax" ? "return false" : "return true", :id => "user_edit_form" }) do |f| %>
              <%= devise_error_messages! %>
              <div class="store_name signin_small_input_holder"><%= f.label :email %>
                <br/>
                <%= f.email_field :email %></div>

              <div class="store_name signin_small_input_holder"><%= f.label :password %>
                <i>(leave blank if you don't want to change it)</i><br/>
                <%= f.password_field :password %></div>

              <div class="store_name signin_small_input_holder"><%= f.label :password_confirmation %>
                <br/>
                <%= f.password_field :password_confirmation %></div>

              <div class="store_name signin_small_input_holder"><%= f.label :current_password %>
                <i>(we need your current password to confirm your changes)</i><br/>
                <%= f.password_field :current_password %></div>
              <% unless current_user.roles.include?(buyer_role) %>
                  <div class="store_name signin_small_input_holder">
                    <label>Package</label>
                    <%= select_tag 'package', options_for_select([["Start-up", 1], ["Time to Grow 10$/mo", 2], ["Corporation $20/mo", 3], ["Enterprise $175/mo", 4]], current_user.roles.include?(buyer_role) ? current_user.store.package.id : "") %>
                  </div>

                  <div id="billingForm" style=" display:none;">

                    <div class="store_name signin_small_input_holder">
                      <label>Card Type</label><br/>
                      <%= select_tag :card_type, options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]) %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Card Number</label><br/>
                      <%= text_field_tag :card_number %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Card Verification Value (CVV)</label><br/>
                      <%= text_field_tag :card_verification %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Expiration Date</label><br/>
                      <%= date_select "card_expires_on", "", :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>First Name</label><br/>
                      <%= text_field_tag :user_editfirst_name %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Last Name</label><br/>
                      <%= text_field_tag :last_name %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Billing Address</label><br/>
                      <%= text_field_tag :billing_address %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>City</label><br/>
                      <%= text_field_tag :billing_city %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <%= select_tag :billing_country, options_for_select(Carmen.countries(:locale => 'en')) %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>State</label><br/>
                      <%= select_tag :billing_state, options_for_select(Carmen::states('US')) %>
                    </div>

                    <div class="store_name signin_small_input_holder">
                      <label>Zip</label><br/>
                      <%= number_field_tag :billing_zip %>
                    </div>
                  </div>
              <% end %>
              <div class="submit_holder"><%= f.submit "Update" %></div>
          <% end %>
          <% if @request_type != "ajax" %>
              <h3>Cancel my account</h3>

              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
                .</p>

              <%= link_to "Back", :back %>
          <% end %>
        </div>
        <div class="bot_login_bg"></div>
      </div>
    </div>
    <% if @request_type == "ajax" %>
        <div class="right-content frt">
          <%= render :partial => "/shared/right_login_menu" %>
        </div>
        </div>
        </div>
    <% end %>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        <%unless current_user.roles.include?(buyer_role) %>
        var old_package = <%= current_user.store.package.id %>
                $("#package").change(function() {
                    if (old_package < $(this).val()) {
                        $("#billingForm").show();
                    }
                    else {
                        $("#billingForm").hide();
                    }
                });
        <%end%>
        $(".submit_holder").click(function() {
            console.log($("#user_edit").serialize());
            console.log($("#user_current_password"));
//            $.ajax({
//                type: "POST",
//                url: "/users",
//                data: $("#user_edit").serialize(),
//                success: function(response) {
//                    $('.body-div').hide();
//                    $(".main-page").append(response);
//                }
//            });


        });
        $(".submit_holder").click(function() {

            $('#user_edit_form').submit(function() {
                $(this).unbind('submit').ajaxSubmit({
                    success: function(data) {
                        if (data == "update_failed") {
                            $("#user_current_password").css({border: "1px solid red"});
                        }
                        else {
                            window.location.href = "/";
                            $('.body-div').hide();
                            $(".main-page").append(data);
                        }
                    }
                })
                return false
            });

        });

        $("#billing_country").change(function() {
            var country = $(this).val();
            $.ajax({
                url: "/get_states?country=" + country,
                success: function(response) {
                    $("#billing_state").replaceWith(response);
                }
            });
        });

        $(".header_links").click(function() {
            var parent = $(this).parent();
            var reference = this;
            $.ajax({
                url: $(this).attr("url"),
                success: function(response) {
                    $(this).addClass("done");
                    $('.body-div').remove();
                    $('.main-page').append(response);
                    $('.tab-act').removeClass('tab-act');
                    parent.addClass('tab-act');
//                    if ($(reference).attr('url','/plans')) {
//                        alert('yes');
//                        alert(reference);
//                        $('.plans').addClass('tab-act');
//                    }
                }
            });
        });

    });
</script>
